<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="./js/logic.js"></script>
		<link rel="stylesheet" href="/css/style.css" type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Candal|Pattaya|Reem+Kufi&display=swap" rel="stylesheet">
		<title>Burger Devourer!</title>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
